.row {
  width: 100%;

  display: flex;
  flex-direction: row;
  .col {
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
  }
}
.tbody {
  background-color: white;
  color: black;

  .tr {
    & > td {
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
    .tdWhite {
      background-color: white;
    }
    .tdRed {
      background-color: red;
    }
    .tdBlue {
      background-color: blue;
    }
    .tdYellow {
      background-color: yellow;
    }
  }
}
